<li>
    <h2>
        {% if page.layout == 'external' %}
            <a href="{{ page.link_url }}">
        {% else %}
            <a href="{{ page.url }}">
        {% endif %}
        {% if page.frontpage_title %}
            {{ page.frontpage_title }}</a>
        {% else %}
            {{ page.title }}</a>
        {% endif %}
    </h2>
    {{ page.nodate | date: site.date_format }}
    {% if page.description %}
        {{ page.description | markdownify }}
    {% else %}
        <p>
        {{ page.content | split:'<!--more-->' | first | markdownify | strip_html }}
    {% endif %}
</li>

