{% assign pages = site.pages | where: 'category', include.category %}
{% assign pages = pages | sort: 'repo' %}
{% if pages.size > 0 %}
    <h2>{{ include.title }}</h2>
    <ul>
        {% for page in pages %}
            {% assign repo = site.data.repos | where:'name', page.repo %}
            {% assign repo = repo[0] %}
            {% if repo %}
                <li>
                <h3><a href="{{ repo.html_url }}">{{ repo.name }}</a></h3>
                {{ repo.description | markdownify }}
            {% else %}
                <li>ERROR: repo "{{ page.repo }}" not found.
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
