---
layout: default
title: My Github Repos
frontpage_title: Browse My Github
frontpage: 2
description: ''
---
<h1>
{{ page.title }}
</h1>

<p>
Here you can read about my github repos, organized a bit better than on
<a href="https://github.com/sboparen">my github profile page</a>.

{% for category in site.data.repos %}
    <h2>{{ category.title }}</h2>
    <ul>
        {% for repo in category.repos %}
            <li>
            <h3><a href="{{ repo.html_url }}">{{ repo.name }}</a></h3>
            {% if repo.description %}
                {{ repo.description | markdownify }}
            {% endif %}
        {% endfor %}
    </ul>
{% endfor %}
